<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>
    <body>
        {{>header}}
        <p> Use this app to get weather</p>

        <form>
            <input placeholder="location">
            <button>Search weather</button>
        </form>
        {{>footer}}
        <script src="js/app.js"></script>
    </body>
</html>